@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    background-color: #F0EFEF;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 60px;
}

.posts {
    list-style: none;
    margin: 0px auto;
    text-align: left;
    background-color: #FFF;
    border: 2px solid #F0EFEF;
}

/* flexbox */
.fx {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.fx-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.fx-center-top {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.fx-center-bottom {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.fx-rw {
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
}

.fx-cl {
    flex-direction: column;
    flex-flow: column;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    -moz-flex-flow: column;
}

.fx-space {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.fx-left {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

.fx-right {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
}

.fx-a-r {
    align-items: flex-end;
}

/* end flexbox */

a.page-link:focus,
a.page-link:hover {
    border-color: #000;
    transition: 0.5s;
}

a.page-link {
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 8px;
    transition: 0.5s;
}

.loading-open {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #F0EFEF;

}

.wrap {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.external-content {
    padding: 20px;
    background-color: white;
    margin-top: 2pc;
}

.content-numbers {
    position: relative;
    top: -50px;
    left: -2pc;
    z-index: 0;
}

a.page-link {
    margin: 10px;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .wrap {
        width: 95%;
        max-width: 95%;
    }
}


@keyframes ldio-735vs5d14sl {
    0% {
        transform: translate(12px, 80px) scale(0);
    }

    25% {
        transform: translate(12px, 80px) scale(0);
    }

    50% {
        transform: translate(12px, 80px) scale(1);
    }

    75% {
        transform: translate(80px, 80px) scale(1);
    }

    100% {
        transform: translate(148px, 80px) scale(1);
    }
}

@keyframes ldio-735vs5d14sl-r {
    0% {
        transform: translate(148px, 80px) scale(1);
    }

    100% {
        transform: translate(148px, 80px) scale(0);
    }
}

@keyframes ldio-735vs5d14sl-c {
    0% {
        background: #0a0a0a
    }

    25% {
        background: #96f95c
    }

    50% {
        background: #ffffff
    }

    75% {
        background: #28292f
    }

    100% {
        background: #0a0a0a
    }
}

.ldio-735vs5d14sl div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(80px, 80px) scale(1);
    background: #0a0a0a;
    animation: ldio-735vs5d14sl 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-735vs5d14sl div:nth-child(1) {
    background: #28292f;
    transform: translate(148px, 80px) scale(1);
    animation: ldio-735vs5d14sl-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-735vs5d14sl-c 1s infinite step-start;
}

.ldio-735vs5d14sl div:nth-child(2) {
    animation-delay: -0.25s;
    background: #0a0a0a;
}

.ldio-735vs5d14sl div:nth-child(3) {
    animation-delay: -0.5s;
    background: #28292f;
}

.ldio-735vs5d14sl div:nth-child(4) {
    animation-delay: -0.75s;
    background: #ffffff;
}

.ldio-735vs5d14sl div:nth-child(5) {
    animation-delay: -1s;
    background: #96f95c;
}

.loadingio-spinner-ellipsis-0i1wl0219w6 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-735vs5d14sl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    background-color: #F0EFEF;

    /* see note above */
}

.ldio-735vs5d14sl div {
    box-sizing: content-box;
}